/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 70px; /* Add padding to body to account for fixed navbar */
}

/* Navbar */
.navbar {
    background-color: #343a40;
    padding: 1rem;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar .nav-link {
    color: gold;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.navbar .nav-link:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.nav-link.active {
    background-color: gold;
    color: black;
    border-radius: 5px;
    padding: 3px;
}

/* Hero Section */

.custom-hero {
    background-color: dodgerblue;
    color: white;
    padding: 5rem 2rem;
    text-align: center;
    position: relative;
}

.custom-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-hero .container {
    position: relative;
    z-index: 1;
}

.custom-hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.custom-hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.custom-hero .btn {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    background-color: white;
    color: dodgerblue;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-hero .btn:hover {
    background-color: #007bff;
    color: gold;
}

/* About Section */
#about {
    background-color: gold;
    color: black;
    border: 2px solid white;
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin: 2rem auto;
    font-size: 1.1rem;
}

#about img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

/* Services Section */
#services {
    background-color: dodgerblue;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
}

#services h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    color: #333;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    width: 15rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.card h4 {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: #007bff; /* Blue color to match the theme */
}

.card .pm h4 {
    margin: 0.1rem 0 0.6rem 0;
    font-size: 1.4rem;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.card a:hover {
    background-color: #0056b3;
    color: gold;
}

/* Contact Section */
#contact {
    background: white;
    padding: 4rem 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 2rem auto;
}

#contact a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #0056b3;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Custom CSS for Extended Pages*/
.body2 {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

.body2 h1 {
    font-size: 2.5rem;
    text-align: center;
}

.page-title {
    text-align: center;
    margin-bottom: 2rem;
}

.body2 .page-content {
    border-bottom: 2px solid #3498db;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    color: #555;
}

.body2 .consult-img{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
}


.nav2  {
    background-color: #343a40;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    gap: 2rem;
}

.nav2-brand img {
    max-height: 50px;
}

.nav2 .nav-link2 {
    color: white;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.nav2 .nav-link2:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.nav-link2.active {
    background-color: gold;
    color: #333;
    padding: 3px;
    border-radius: 5px;
}

.card-container2 {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;  
   gap: 20px;
   padding: 20px;
}

.card2  {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    justify-content: space-between;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body2 {
    
    padding: 0;
    flex-grow: 1 1 300px;
    
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title2 {
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
    color: black;
    
}

.card-body2 ul, .card-body2 ol {
    list-style-type: square;
    padding-left: 20px;
}
.card-body2 li {
    margin-bottom: 10px;
}

.card2-body p, .card2-body ul, .card2-body ol {
    margin: 10px;
    color: #444;
}

.card2-img-bottom {
    margin: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    background-color: #e0e0e0;
    /* border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; */
}

.consult-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Extra styling for Project Management / Consulting Page */
.body3 {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    padding: 20px;
    color: #333;
}

.body3 h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.body3 h3 {
    font-size: 1.75rem;
    color: #34495e;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.body3 p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.body3 ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.body3 li {
    margin-bottom: 10px;
}

.body3 .page-content {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    color: #555;
}

.body3 .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.1);
}

/* Styling for cta / Call-To-Action section */
.body3 .cta {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px;
}

.body3 .cta a {
    color: #fff;
    text-decoration: underline;
}

.body3 .cta p {
    margin: 0;
    font-size: 1.2rem;
}

.body3 .cta a:hover {
    color: gold;
    text-decoration: underline;
}





/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .card {
        width: 90%;
    }
}

/* body2-Responsive Design */
@media (max-width: 768px) {
    .page-title {
        font-size: 2rem;
    }

    .page-content {
        padding: 1rem;
    }

    .nav2 {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .nav2-brand img {
        max-height: 30px;
    }

    .card-container2 {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .card2 {
        width: 100%;
    
    }
}